Assembly-CSharp.csproj
PrincessAdventure.sln
.vs/*
Assets/Scenes/*
Library/*
Logs/*
obj/*
Packages/*
Temp/*
.vs/PrincessAdventure/xs/project-cache/Assembly-CSharp-Debug.json
.vs/PrincessAdventure/xs/UserPrefs.xml
