Assembly-CSharp.csproj
PrincessAdventure.sln
2DCustomizableCharacters.CharacterEditor.csproj
2DCustomizableCharacters.CharacterEditor.Editor.csproj
2DCustomizableCharacters.csproj
2DCustomizableCharacters.Editor.csproj
CFXR.WelcomeScreen.csproj
CFXRDemo.csproj
CFXREditor.csproj
CFXRRuntime.csproj
ColorPicker.csproj
KinoBloom.Runtime.csproj
ToonyColorsPro.Demo.Editor.csproj
.vs/*
Assets/Scenes/*
Assets/2D Customizable Characters/*
Assets/2D Hand Painted Tilesets/*
Assets/JMO Assets/*
Assets/Game Music Treasury - Vol. II/*
Assets/Gamemaster Audio - Pro Sound Collection/*
Assets/118 sprite effects bundle/*
Assets/4Direction Animated 2D Monsters (Fantazia Top Down)/*
Assets/Spine/*
Assets/Spine Examples/*
Assets/TextMesh Pro/*
Library/*
Logs/*
obj/*
xs/*
Packages/*
Temp/*
UserSettings/*
.vs/PrincessAdventure/xs/project-cache/Assembly-CSharp-Debug.json
.vs/PrincessAdventure/xs/UserPrefs.xml
.vs/PrincessAdventure/xs/UserPrefs.xml
.vs/PrincessAdventure/xs/project-cache/Assembly-CSharp-Debug.json

